.section-hero {
  background: radial-gradient(
    circle at center 100%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 42%,
    rgba(241, 244, 253, 0.07) 83%
  );

  .wrapper {
    padding-block: 9.2rem 3rem;
    text-align: center;
    display: grid;
    gap: 1.8rem;
    overflow: hidden;

    @include media(tablet) {
      padding-block: 13.4rem 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto;
      column-gap: 15rem;
      row-gap: 12rem;
    }

    @include media(desktop-small) {
      padding-block: 17.6rem 0;
      row-gap: 0;
      column-gap: 14rem;
      grid-template-rows: 0fr;
    }

    @include media(desktop-large) {
      padding-block: 22.3rem 0;
    }
  }

  h1 {
    @include media(tablet) {
      grid-column: 1 / 3;
    }

    @include media(desktop-small) {
      grid-column: 1;
      text-align: left;
      margin-bottom: 2.4rem;
    }
  }

  span {
    @include media(tablet) {
      display: grid;
    }

    @include media(desktop-small) {
      display: inline-block;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 3.434rem;
    height: 100%;

    @include media(tablet) {
      gap: 4.1rem;
      padding-bottom: 4.594rem;
    }

    @include media(desktop-small) {
      grid-column: 1;
      gap: 4.8rem;
      padding-bottom: 6rem;
    }

    @include media(desktop) {
      padding-bottom: 6.4rem;
    }
  }

  .container > p {
    @include media(tablet) {
      text-align: left;
      display: grid;
    }

    @include media(desktop) {
      display: inline-block;
    }

    @include media(desktop-large) {
      display: grid;
    }
  }

  .container > :last-child {
    @include media(desktop-small) {
      margin-top: 8.8rem;
    }

    @include media(desktop) {
      margin-top: 16.8rem;
    }
  }

  .link-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include media(tablet) {
      flex-direction: row;
    }

    @include media(desktop) {
      gap: 2.4rem;
    }
  }

  .icon-appstore {
    width: 12.5rem;
    height: 3.4rem;

    @include media(tablet) {
      width: 11.34rem;
      height: 3rem;
    }

    @include media(desktop) {
      width: 13.6rem;
      height: 3.54rem;
    }
  }

  .icon-googleplay {
    width: 14rem;
    height: 3.3rem;

    @include media(tablet) {
      width: 12.75rem;
      height: 3rem;
    }

    @include media(desktop) {
      width: 13.6rem;
      height: 3.1rem;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.239rem;

    @include media(tablet) {
      justify-content: flex-start;
    }

    @include media(desktop) {
      gap: 1.6rem;
    }
  }

  .image-container {
    position: relative;
    display: none;

    @include media(tablet) {
      display: block;
    }

    @include media(desktop-small) {
      grid-column: 2;
    }
  }

  .phone-back {
    position: absolute;
    bottom: -75px;
    right: 120px;
    width: 24rem;
    height: 48.5rem;

    @include media(desktop-small) {
      width: 31.3rem;
      height: 63.2rem;
      right: 190px;
      bottom: -95px;
    }

    @include media(desktop) {
      width: 36.3rem;
      height: 73.2rem;
      right: 215px;
      bottom: -110px;
    }

    @include media(desktop-large) {
      width: 39.6rem;
      height: 80rem;
    }
  }

  .phone-front {
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 24.4rem;
    height: 49.3rem;

    @include media(desktop-small) {
      width: 31.9rem;
      height: 64.3rem;
    }

    @include media(desktop) {
      width: 36.9rem;
      height: 74.3rem;
    }

    @include media(desktop-large) {
      width: 40.2rem;
      height: 81.3rem;
    }
  }
}
