:root, :root.light-mode {
  --color-primary: #6366f1;
  --color-success: #22c55e;
  --color-white: #fff;
  --color-gray: #9397ad;
  --color-background: #fff;
  --color-background-section: #f3f6ff;
  --color-background-item: #fff;
  --color-background-input: #fff;
  --color-nav-link: #33354d;
  --color-download-link: #0b0f19;
  --color-heading: #0b0f19;
  --color-paragraph: #565973;
  --color-paragraph-header: #565973;
  --color-paragraph-light: #9397ad;
  --color-button-discover: #fff;
  --color-icon-box: rgb(99, 102, 241, 0.08);
  --color-border: #e2e5f1;
  --color-border-input: #d4d7e5;
  --color-input-placeholder: #b4b7c9;
  color-scheme: light;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

body {
  font-family: "Manrope", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-heading);
  font-weight: 800;
  text-wrap: balance;
}

.h1,
.h2,
.h3,
.h6 {
  line-height: 130%;
}

.h4,
.h5 {
  line-height: 140%;
}

.h1 {
  font-size: 3.41rem;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 4.43rem;
  }
}
@media (min-width: 1920px) {
  .h1 {
    font-size: 5.6rem;
  }
}

.h2 {
  font-size: 2.79rem;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 3.35rem;
  }
}
@media (min-width: 1920px) {
  .h2 {
    font-size: 4rem;
  }
}

.h3 {
  font-size: 2.47rem;
}
@media (min-width: 768px) {
  .h3 {
    font-size: 3.2rem;
  }
}

.h4 {
  font-size: 2.16rem;
}
@media (min-width: 768px) {
  .h4 {
    font-size: 2.27rem;
  }
}
@media (min-width: 1920px) {
  .h4 {
    font-size: 2.4rem;
  }
}

.h5 {
  font-size: 2rem;
}

.h6 {
  font-weight: 600;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .h6 {
    line-height: 160%;
  }
}

.paragraph {
  color: var(--color-paragraph);
  font-weight: 400;
  line-height: 160%;
}
.paragraph--header {
  color: var(--color-paragraph-header);
  font-weight: 600;
}
.paragraph--large {
  font-size: 1.8rem;
}
.paragraph--medium {
  font-size: 1.6rem;
}
.paragraph--small {
  font-size: 1.4rem;
}
.paragraph--smallest {
  font-size: 1.2rem;
}
.paragraph--light-grey {
  color: var(--color-paragraph-light);
}

.hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}

.invalid {
  border-color: red !important;
}

.btn-mobile-menu {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 3.6rem;
}

.btn-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 1rem 1.5rem;
  font-size: 2.5rem;
  color: var(--color-nav-link);
}

.btn-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 4.6rem;
  height: 2.3rem;
  background: var(--color-gray);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2.3rem;
  position: relative;
  outline: none;
  transition: 0.5s;
}
.btn-toggle::before {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-white);
  border-radius: 50%;
  transform: scale(0.75);
  transition: 0.5s;
}
.btn-toggle:checked {
  background: var(--color-primary);
}
.btn-toggle:checked::before {
  left: 2.25rem;
}

.btn-primary {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.btn-primary--small {
  border-radius: 0.4rem;
  padding: 0.9rem 2rem;
  font-size: 1.4rem;
  line-height: 130%;
}
.btn-primary--medium {
  border-radius: 0.6rem;
  padding: 1.1rem 2.8rem;
  font-size: 1.4rem;
  line-height: 160%;
}
.btn-primary--large {
  border-radius: 0 0.8rem 0.8rem 0;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  line-height: 160%;
}
@media (min-width: 1400px) {
  .btn-primary--large {
    padding: 1.3rem 3.2rem;
  }
}

.btn-download {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-color: var(--color-download-link);
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  display: grid;
  place-items: center;
}
@media (min-width: 1400px) {
  .btn-download {
    padding: 1rem 2.2rem;
  }
}

.btn-circle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn-circle--small {
  width: 3.6rem;
  height: 3.6rem;
  padding: 1.5rem;
  background-color: var(--color-background-section);
}
.btn-circle--large {
  width: 4.4rem;
  height: 4.4rem;
  background-color: var(--color-button-discover);
  box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
}
.btn-circle--primary {
  background-color: var(--color-primary);
}

.btn-contact {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 160%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  text-wrap: nowrap;
  text-decoration: none;
}
.btn-contact--primary {
  color: var(--color-primary);
}
.btn-contact--success {
  color: var(--color-success);
}
.btn-contact--large {
  font-size: 1.6rem;
  padding-block: 1.3rem;
}

.form-container {
  background-color: var(--color-background-section);
  padding: 4.8rem 1.6rem 4.39rem 1.6rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 7.2rem 2.4rem;
  }
}
@media (min-width: 1400px) {
  .form-container {
    padding: 7.2rem 4rem;
    gap: 4rem;
    grid-template-columns: 10fr 9fr;
  }
}
@media (min-width: 1920px) {
  .form-container {
    padding: 7.2rem 11rem;
    gap: 7.8rem;
  }
}
.form-container .form-heading {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .form-container .form-heading {
    gap: 3.2rem;
  }
}
.form-container .form-heading-span {
  display: none;
}
@media (min-width: 1400px) {
  .form-container .form-heading-span {
    display: inline;
  }
}
.form-container .form {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .form-container .form {
    height: 5.23rem;
  }
}
.form-container .inner-container {
  position: relative;
}
.form-container .mail {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1.686rem;
}
.form-container input {
  height: 100%;
  padding-left: 4.8rem;
  border-radius: 0.8rem 0 0 0.8rem;
  border: 1px solid var(--color-border-input);
  background-color: var(--color-background-input);
  width: 100%;
  font-size: 1.6rem;
}
.form-container input::-moz-placeholder {
  color: var(--color-input-placeholder);
}
.form-container input::placeholder {
  color: var(--color-input-placeholder);
}

.icon-box {
  background: var(--color-icon-box);
  padding: 1.6rem;
  border-radius: 0.8rem;
  display: grid;
  place-items: center;
}

.accordion {
  width: 100%;
}
.accordion .questions {
  list-style: none;
}
@media (min-width: 768px) {
  .accordion .questions {
    display: grid;
    gap: 1.6rem;
  }
}
@media (min-width: 768px) {
  .accordion li {
    box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 0.8rem;
    background-color: var(--color-background-item);
  }
}
@media (min-width: 768px) {
  .accordion .active-question {
    border: 1px solid var(--color-border);
  }
}
.accordion .question {
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.6rem 2.4rem;
}
@media (min-width: 768px) {
  .accordion .question {
    border: none;
  }
}
.accordion .questions > :first-child .question {
  border-radius: 0.8rem 0.8rem 0 0;
}
.accordion .questions > :last-child .question {
  border-radius: 0 0 0.8rem 0.8rem;
}
.accordion .paragraph {
  padding: 1.6rem 2.4rem 2.99rem 2.4rem;
  border-inline: 1px solid var(--color-border);
  white-space: pre-wrap;
}
@media (min-width: 768px) {
  .accordion .paragraph {
    border: none;
    padding-block: 0 2.4rem;
  }
}
.accordion li:last-of-type .paragraph {
  border: 1px solid var(--color-border);
}
@media (min-width: 768px) {
  .accordion li:last-of-type .paragraph {
    border: none;
  }
}

.breadcrumbs {
  display: flex;
  gap: 1.2rem;
}
.breadcrumbs .crumb-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.breadcrumbs .crumb-container:first-of-type {
  gap: 0.4rem;
}
.breadcrumbs .crumb {
  text-decoration: none;
}
.breadcrumbs .crumb-container:last-of-type .crumb {
  color: var(--color-primary);
}

.contact-form {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  padding: 3rem;
  gap: 2.5rem;
  box-shadow: 0 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0 4px 13px -2px rgba(19, 16, 34, 0.06);
}
@media (min-width: 768px) {
  .contact-form {
    padding: 4rem;
  }
}
@media (min-width: 992px) {
  .contact-form {
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  .contact-form {
    padding: 5rem;
  }
}
@media (min-width: 1920px) {
  .contact-form {
    padding: 7.2rem;
    gap: 4rem;
  }
}
.contact-form--dark {
  box-shadow: none;
  border: 1px solid var(--color-border);
}
.contact-form .input-fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 992px) {
  .contact-form .input-fields {
    gap: 2.4rem;
  }
}
.contact-form .paragraph {
  color: var(--color-heading);
  font-weight: 600;
}
.contact-form input {
  height: 100%;
  border-radius: 0.8rem;
  border: 1px solid var(--color-border-input);
  background-color: var(--color-background-input);
  width: 100%;
  font-size: 1.6rem;
  padding: 1.4rem 1.6rem;
}
@media (min-width: 768px) {
  .contact-form input {
    padding: 1.6rem 1.6rem;
  }
}
@media (min-width: 1200px) {
  .contact-form input {
    padding: 1.8rem 1.6rem;
  }
}
.contact-form .select {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  border: 1px solid var(--color-border-input);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--color-background-input);
  background-image: url(/src/assets/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  font-size: 1.6rem;
  padding: 1.4rem 1.6rem;
}
@media (min-width: 768px) {
  .contact-form .select {
    padding: 1.6rem 1.6rem;
  }
}
@media (min-width: 1200px) {
  .contact-form .select {
    padding: 1.8rem 1.6rem;
  }
}
.contact-form .select--dark {
  background-image: url(/src/assets/select-arrow-dark.svg);
}
.contact-form option {
  background-color: var(--color-background);
}
.contact-form .btn-primary--large {
  border-radius: 0.8rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .contact-form .btn-primary--large {
    margin-top: 2.5rem;
  }
}
@media (min-width: 992px) {
  .contact-form .btn-primary--large {
    margin-top: 3.8rem;
  }
}
@media (min-width: 1200px) {
  .contact-form .btn-primary--large {
    margin-top: 8.1rem;
  }
}
@media (min-width: 1920px) {
  .contact-form .btn-primary--large {
    margin-top: 10.6rem;
  }
}

.mobile-menu {
  height: 100vh;
  width: 40vw;
  z-index: 999;
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  list-style: none;
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .nav-link {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.wrapper {
  margin: 0 auto;
  padding-inline: 1rem;
}
@media (min-width: 320px) {
  .wrapper {
    max-width: 300px;
    padding-inline: 0;
  }
}
@media (min-width: 390px) {
  .wrapper {
    max-width: 366px;
  }
}
@media (min-width: 480px) {
  .wrapper {
    max-width: 440px;
  }
}
@media (min-width: 576px) {
  .wrapper {
    max-width: 536px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 706px;
  }
}
@media (min-width: 880px) {
  .wrapper {
    max-width: 803px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1020px;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    max-width: 1100px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    max-width: 1296px;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}
.header .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.1rem;
}
@media (min-width: 768px) {
  .header .wrapper {
    padding-block: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .header .wrapper {
    gap: 4.8rem;
    padding-block: 1.6rem;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 800;
  font-size: 2.08rem;
  line-height: 160%;
  color: var(--color-heading);
  text-decoration: none;
}
.header a {
  text-decoration: none;
}
.header .nav {
  width: 100%;
}
.header .nav-links {
  list-style: none;
  align-items: center;
  gap: 2.4rem;
  display: none;
}
@media (min-width: 1200px) {
  .header .nav-links {
    display: flex;
  }
}
.header .nav-link {
  color: var(--color-nav-link);
  font-size: 1.6rem;
  line-height: 160%;
}
.header .nav-link:hover, .header .nav-link:focus-visible {
  color: var(--color-primary);
}
.header .btn-primary {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}
.header .btn-toggle-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: absolute;
  right: 5.4rem;
}
@media (min-width: 768px) {
  .header .btn-toggle-container {
    right: 10rem;
  }
}
@media (min-width: 1200px) {
  .header .btn-toggle-container {
    right: 17rem;
  }
}
.header .paragraph {
  position: absolute;
  right: 100vw;
}
@media (min-width: 768px) {
  .header .paragraph {
    position: relative;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .header .btn-mobile-menu {
    display: none;
  }
}
.header .btn-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}
@media (min-width: 768px) {
  .header .btn-close {
    top: 2.6rem;
    right: 2.6rem;
  }
}
@media (min-width: 992px) {
  .header .btn-close {
    top: 2.9rem;
    right: 2.9rem;
  }
}
@media (min-width: 1200px) {
  .header .btn-close {
    display: none;
  }
}

.footer .wrapper {
  padding-block: 2.6rem 3rem;
  display: grid;
  place-items: center;
}
@media (min-width: 1400px) {
  .footer .wrapper {
    padding-block: 5.4rem;
  }
}
.footer p {
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  .footer p {
    display: inline-block;
  }
}

.section-hero {
  background: radial-gradient(circle at center 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}
.section-hero .wrapper {
  padding-block: 9.2rem 3rem;
  text-align: center;
  display: grid;
  gap: 1.8rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-hero .wrapper {
    padding-block: 13.4rem 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    -moz-column-gap: 15rem;
         column-gap: 15rem;
    row-gap: 12rem;
  }
}
@media (min-width: 1200px) {
  .section-hero .wrapper {
    padding-block: 17.6rem 0;
    row-gap: 0;
    -moz-column-gap: 14rem;
         column-gap: 14rem;
    grid-template-rows: 0fr;
  }
}
@media (min-width: 1920px) {
  .section-hero .wrapper {
    padding-block: 22.3rem 0;
  }
}
@media (min-width: 768px) {
  .section-hero h1 {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .section-hero h1 {
    grid-column: 1;
    text-align: left;
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 768px) {
  .section-hero span {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .section-hero span {
    display: inline-block;
  }
}
.section-hero .container {
  display: flex;
  flex-direction: column;
  gap: 3.434rem;
  height: 100%;
}
@media (min-width: 768px) {
  .section-hero .container {
    gap: 4.1rem;
    padding-bottom: 4.594rem;
  }
}
@media (min-width: 1200px) {
  .section-hero .container {
    grid-column: 1;
    gap: 4.8rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .container {
    padding-bottom: 6.4rem;
  }
}
@media (min-width: 768px) {
  .section-hero .container > p {
    text-align: left;
    display: grid;
  }
}
@media (min-width: 1400px) {
  .section-hero .container > p {
    display: inline-block;
  }
}
@media (min-width: 1920px) {
  .section-hero .container > p {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .section-hero .container > :last-child {
    margin-top: 8.8rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .container > :last-child {
    margin-top: 16.8rem;
  }
}
.section-hero .link-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .section-hero .link-container {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .section-hero .link-container {
    gap: 2.4rem;
  }
}
.section-hero .icon-appstore {
  width: 12.5rem;
  height: 3.4rem;
}
@media (min-width: 768px) {
  .section-hero .icon-appstore {
    width: 11.34rem;
    height: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .icon-appstore {
    width: 13.6rem;
    height: 3.54rem;
  }
}
.section-hero .icon-googleplay {
  width: 14rem;
  height: 3.3rem;
}
@media (min-width: 768px) {
  .section-hero .icon-googleplay {
    width: 12.75rem;
    height: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .icon-googleplay {
    width: 13.6rem;
    height: 3.1rem;
  }
}
.section-hero .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.239rem;
}
@media (min-width: 768px) {
  .section-hero .button-container {
    justify-content: flex-start;
  }
}
@media (min-width: 1400px) {
  .section-hero .button-container {
    gap: 1.6rem;
  }
}
.section-hero .image-container {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .section-hero .image-container {
    display: block;
  }
}
@media (min-width: 1200px) {
  .section-hero .image-container {
    grid-column: 2;
  }
}
.section-hero .phone-back {
  position: absolute;
  bottom: -75px;
  right: 120px;
  width: 24rem;
  height: 48.5rem;
}
@media (min-width: 1200px) {
  .section-hero .phone-back {
    width: 31.3rem;
    height: 63.2rem;
    right: 190px;
    bottom: -95px;
  }
}
@media (min-width: 1400px) {
  .section-hero .phone-back {
    width: 36.3rem;
    height: 73.2rem;
    right: 215px;
    bottom: -110px;
  }
}
@media (min-width: 1920px) {
  .section-hero .phone-back {
    width: 39.6rem;
    height: 80rem;
  }
}
.section-hero .phone-front {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 24.4rem;
  height: 49.3rem;
}
@media (min-width: 1200px) {
  .section-hero .phone-front {
    width: 31.9rem;
    height: 64.3rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .phone-front {
    width: 36.9rem;
    height: 74.3rem;
  }
}
@media (min-width: 1920px) {
  .section-hero .phone-front {
    width: 40.2rem;
    height: 81.3rem;
  }
}

.section-app-features .wrapper {
  padding-block: 3.69rem 4.42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .section-app-features .wrapper {
    padding-block: 4.8rem 10rem;
  }
}
@media (min-width: 1400px) {
  .section-app-features .wrapper {
    padding-block: 9.6rem 11.2rem;
  }
}
.section-app-features .logos {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .section-app-features .logos {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .section-app-features .logos > .container:not(:nth-child(-n+4)) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-app-features .logos > .container:not(:nth-child(-n+4)) {
    display: flex;
  }
}
.section-app-features .container {
  padding: 3.3rem 0.925rem;
  border: 1px solid var(--color-border);
  border-radius: 0.8rem;
}
@media (min-width: 1920px) {
  .section-app-features .container {
    padding: 3.5rem 2.8rem;
  }
}
.section-app-features .logo {
  width: 14rem;
  height: 3.3rem;
}
@media (min-width: 1400px) {
  .section-app-features .inner-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 11.2rem;
    gap: 8rem;
  }
}
@media (min-width: 1920px) {
  .section-app-features .inner-container {
    gap: 20.2rem;
  }
}
.section-app-features .phone {
  display: none;
}
@media (min-width: 1400px) {
  .section-app-features .phone {
    display: block;
    width: 34.8rem;
    height: 68.4rem;
  }
}
.section-app-features .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
@media (min-width: 768px) {
  .section-app-features .features {
    margin-top: 6.25rem;
  }
}
@media (min-width: 1400px) {
  .section-app-features .features {
    margin-top: 0;
  }
}
.section-app-features .features-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.4rem;
}
@media (min-width: 1400px) {
  .section-app-features .features-lead {
    text-align: left;
    align-items: flex-start;
  }
}
.section-app-features .features-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .section-app-features .features-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .section-app-features .features-items {
    gap: 4.8rem;
  }
}
.section-app-features .features-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .section-app-features .features-row {
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .section-app-features .features-row {
    gap: 5.6rem;
  }
}
.section-app-features .features-item {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  width: 100%;
}
.section-app-features .features-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section-instructions {
  background-color: var(--color-background-section);
}
.section-instructions .wrapper {
  padding-block: 6.39rem 5.64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .section-instructions .wrapper {
    gap: 4.4rem;
    padding-block: 7.2rem;
  }
}
@media (min-width: 1400px) {
  .section-instructions .wrapper {
    padding-block: 8rem 9.6rem;
  }
}
.section-instructions .phones-container {
  width: 100%;
}
@media (min-width: 768px) {
  .section-instructions .phones-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1920px) {
  .section-instructions .phones-container {
    justify-content: center;
    gap: 10rem;
  }
}
.section-instructions .phone-side {
  display: none;
}
@media (min-width: 768px) {
  .section-instructions .phone-side {
    display: block;
    opacity: 0.8;
  }
}
@media (min-width: 1400px) {
  .section-instructions .phone-side {
    width: 32.8rem;
    height: 66.3rem;
  }
}
@media (min-width: 768px) {
  .section-instructions .phone-middle {
    width: 20.3rem;
    height: 41.1rem;
  }
}
@media (min-width: 1400px) {
  .section-instructions .phone-middle {
    width: 32.8rem;
    height: 66.3rem;
  }
}
.section-instructions .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.76rem;
}
@media (min-width: 768px) {
  .section-instructions .text-container {
    margin-inline: 13rem;
  }
}
.section-instructions span {
  display: none;
}
@media (min-width: 768px) {
  .section-instructions span {
    display: inline-block;
  }
}
@media (min-width: 1920px) {
  .section-instructions p {
    display: grid;
  }
}

.section-features {
  display: none;
}
@media (min-width: 1400px) {
  .section-features {
    display: block;
  }
}
.section-features .wrapper {
  display: grid;
  gap: 8rem;
  padding-block: 11.2rem;
}
@media (min-width: 1920px) {
  .section-features .wrapper {
    padding: 11.2rem 11rem;
  }
}
.section-features .row {
  display: flex;
  align-items: center;
}
@media (min-width: 1400px) {
  .section-features :first-child {
    gap: 16.7rem;
  }
}
@media (min-width: 1920px) {
  .section-features :first-child {
    gap: 14.3rem;
  }
}
@media (min-width: 1400px) {
  .section-features :last-child {
    gap: 2.4rem;
  }
}
.section-features .info-box {
  display: grid;
  gap: 4rem;
  justify-items: flex-start;
}
.section-features .bullet-points {
  display: grid;
  gap: 1.2rem;
}
.section-features .bullet-point {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.section-features .features {
  display: flex;
  gap: 3rem;
}
.section-features .feature {
  display: grid;
  gap: 1.6rem;
  justify-items: flex-start;
}
.section-features .btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.section-testimonials {
  background-color: var(--color-background-section);
  display: none;
}
@media (min-width: 1400px) {
  .section-testimonials {
    display: block;
  }
}
.section-testimonials .wrapper {
  padding-block: 8rem 11.2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8rem;
}
@media (min-width: 1920px) {
  .section-testimonials .wrapper {
    gap: 13.4rem;
  }
}
.section-testimonials h2 {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 3.4rem;
}
@media (min-width: 1920px) {
  .section-testimonials h2 {
    font-size: 4rem;
  }
}
.section-testimonials .cards {
  display: flex;
  gap: 2.4rem;
}
.section-testimonials .card {
  display: grid;
  gap: 2.4rem;
  background-color: var(--color-background-item);
  padding: 4.8rem 2.4rem 2.4rem 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
  position: relative;
}
.section-testimonials .card::before {
  content: "";
  height: 20px;
  width: 20px;
  padding: 2.2rem;
  border-radius: 0.6rem;
  position: absolute;
  left: 24px;
  top: -28px;
  background: url(/src/assets/quotation-mark.svg) no-repeat center var(--color-primary);
  box-shadow: 0 8px 18px -8px rgba(99, 102, 241, 0.9);
}
.section-testimonials .info-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.section-testimonials .name,
.section-testimonials .job-title {
  line-height: 130%;
}
.section-testimonials .name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-heading);
}
.section-testimonials .job-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-gray);
}

.section-faq .wrapper {
  padding-top: 4.305rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.25rem;
}
@media (min-width: 1400px) {
  .section-faq .wrapper {
    padding-top: 11.2rem;
    gap: 11.2rem;
  }
}
.section-faq .faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .section-faq .faq-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    row-gap: 4rem;
    -moz-column-gap: 10rem;
         column-gap: 10rem;
  }
}
@media (min-width: 1400px) {
  .section-faq .faq-container {
    grid-template-columns: 2fr 3fr;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
@media (min-width: 1920px) {
  .section-faq .faq-container {
    grid-template-columns: 5fr 9fr;
    -moz-column-gap: 13.4rem;
         column-gap: 13.4rem;
  }
}
.section-faq .faq-lead {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-faq .faq-lead {
    text-align: left;
    gap: 3.2rem;
  }
}
@media (min-width: 768px) {
  .section-faq .h3 {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .section-faq .faq-container > :nth-child(2) {
    grid-row: span 2;
  }
}
.section-faq .btn-primary--medium {
  text-decoration: none;
}
@media (min-width: 768px) {
  .section-faq .btn-primary--medium {
    display: none;
  }
}
.section-faq .contact-boxes {
  display: none;
}
@media (min-width: 768px) {
  .section-faq .contact-boxes {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
.section-faq .contact-box {
  border: 1px solid var(--color-border);
  border-radius: 0.8rem;
  padding: 2.4rem 2.4rem 3.5rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.section-contact {
  background-color: var(--color-background-section);
  padding-block: 8rem 7rem;
}
@media (min-width: 768px) {
  .section-contact {
    padding-block: 9.7rem 3rem;
  }
}
@media (min-width: 1200px) {
  .section-contact {
    padding-block: 11.6rem 8rem;
  }
}
@media (min-width: 1920px) {
  .section-contact {
    padding-block: 11.6rem 12.7rem;
  }
}
.section-contact .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.section-contact .inner-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .section-contact .inner-container {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    gap: 0;
  }
}
.section-contact .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 768px) {
  .section-contact .container {
    gap: 7.2rem;
  }
}
@media (min-width: 768px) {
  .section-contact .contact-form {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
  }
}
@media (min-width: 880px) {
  .section-contact .contact-form {
    max-width: 380px;
  }
}
@media (min-width: 992px) {
  .section-contact .contact-form {
    position: absolute;
    top: 0;
    right: 0;
    max-width: none;
  }
}
.section-contact .h3 {
  text-align: center;
}
.section-contact .contact-boxes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section-contact .contact-boxes {
    gap: 3.2rem;
  }
}
.section-contact .contact-box {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  max-width: 390px;
}
.section-contact .circle-icon-box {
  border-radius: 50%;
  padding: 1.6rem;
  background-color: var(--color-button-discover);
  display: grid;
  place-items: center;
}
.section-contact .content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section-location {
  padding-block: 8rem 2rem;
}
@media (min-width: 576px) {
  .section-location {
    padding-block: 8rem 5rem;
  }
}
@media (min-width: 768px) {
  .section-location {
    padding-block: 15rem 5rem;
  }
}
@media (min-width: 992px) {
  .section-location {
    padding-block: 18rem 20rem;
  }
}
@media (min-width: 1200px) {
  .section-location {
    padding-block: 21rem 25rem;
  }
}
@media (min-width: 1400px) {
  .section-location {
    padding-block: 21rem 47.9rem;
  }
}
.section-location .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 992px) {
  .section-location .wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  .section-location .wrapper {
    gap: 6rem;
  }
}
@media (min-width: 1400px) {
  .section-location .wrapper {
    gap: 9rem;
  }
}
@media (min-width: 1920px) {
  .section-location .wrapper {
    gap: 13.4rem;
  }
}
.section-location .map {
  border-radius: 0.8rem;
  max-width: 260px;
}
@media (min-width: 320px) {
  .section-location .map {
    max-width: 300px;
  }
}
@media (min-width: 390px) {
  .section-location .map {
    max-width: 366px;
  }
}
@media (min-width: 480px) {
  .section-location .map {
    max-width: 440px;
  }
}
@media (min-width: 992px) {
  .section-location .map {
    max-width: 460px;
  }
}
@media (min-width: 1200px) {
  .section-location .map {
    max-width: 550px;
  }
}
@media (min-width: 1400px) {
  .section-location .map {
    max-width: 600px;
  }
}
@media (min-width: 1920px) {
  .section-location .map {
    max-width: 636px;
  }
}
.section-location .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 992px) {
  .section-location .content {
    align-items: flex-start;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .section-location .content {
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-location .content {
    gap: 5.5rem;
  }
}
@media (min-width: 1920px) {
  .section-location .content {
    gap: 7.2rem;
  }
}
.section-location .info-boxes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 992px) {
  .section-location .info-boxes {
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .section-location .info-boxes {
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-location .info-boxes {
    gap: 4.8rem;
  }
}
.section-location .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 992px) {
  .section-location .info-box {
    align-items: flex-start;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .section-location .info-box {
    gap: 2.4rem;
  }
}
.section-location .info-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: flex-start;
}
@media (min-width: 992px) {
  .section-location .info-container {
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .section-location .info-container {
    gap: 1.2rem;
  }
}
.section-location .info {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.section-location .paragraph {
  text-wrap: balance;
}
@media (min-width: 480px) {
  .section-location .paragraph {
    text-wrap: nowrap;
  }
}
.section-location .info-container > :first-child img {
  align-self: flex-start;
  margin-top: 0.3rem;
}
@media (min-width: 480px) {
  .section-location .info-container > :first-child img {
    align-self: center;
    margin-top: 0;
  }
}
.section-location .info-container > :last-child img {
  align-self: flex-start;
  margin-top: 0.3rem;
}
.section-location strong {
  color: var(--color-heading);
}
.section-location .socials {
  display: flex;
  gap: 1.6rem;
}
.section-location .icon-box {
  border-radius: 0.6rem;
  padding: 1.2rem;
  display: grid;
  place-items: center;
}

:root.dark-mode {
  --color-primary: #6366f1;
  --color-success: #22c55e;
  --color-white: #fff;
  --color-gray: rgba(255, 255, 255, 0.5);
  --color-background: #0b0f19;
  --color-background-section: rgba(255, 255, 255, 0.04);
  --color-background-item: rgba(255, 255, 255, 0.04);
  --color-background-input: rgba(255, 255, 255, 0.02);
  --color-nav-link: rgba(255, 255, 255, 0.85);
  --color-download-link: #f3f6ff;
  --color-heading: #fff;
  --color-paragraph: rgba(255, 255, 255, 0.7);
  --color-paragraph-header: #565973;
  --color-paragraph-light: rgba(255, 255, 255, 0.5);
  --color-button-discover: rgba(255, 255, 255, 0.05);
  --color-icon-box: rgb(99, 102, 241, 0.08);
  --color-border: rgba(255, 255, 255, 0.15);
  --color-border-input: rgba(255, 255, 255, 0.18);
  --color-input-placeholder: rgba(255, 255, 255, 0.4);
  color-scheme: dark;
}/*# sourceMappingURL=main.css.map */